<!DOCTYPE html>
<html>
  <head>
    <title>InfoAmazonia Colombia</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fragment" content="!">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="lib/skeleton/css/normalize.css">
    <link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="lib/highcharts/css/highcharts.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-controller="SiteCtrl" ng-class="{'site-nav': showNav}">
    <header id="masthead">
      <div class="container">
        <div class="twelve columns">
          <h1><a href="http://infoamazonia.org/" title="InfoAmazonia" rel="external" target="_blank">InfoAmazonia<img src="img/infoamazonia.png">Colombia</a></h1>
        </div>
      </div>
    </header>
    <nav id="main-nav"><a class="fa fa-info-circle" title="Menu" aria-hidden="true" href="javascript:void(0);" ng-click="toggleNav()" ng-hide="showNav"></a><a class="fa fa-close" title="Menu" aria-hidden="true" href="javascript:void(0);" ng-click="toggleNav()" ng-show="showNav"></a></nav>
    <section id="main-nav-content" ng-class="{active: showNav}">
      <div class="nav-content">
        <section id="partners">
          <h2>Colaboradores</h2>
          <div class="partner-list">
            <div class="partner"><a href="http://www.dejusticia.org/" target="_blank" rel="external"><img src="img/dejusticia.jpg"></a></div>
            <div class="partner"><a href="http://www.elespectador.com/noticias" target="_blank" rel="external"><img src="img/el-espectador.jpg"></a></div>
            <div class="partner"><a href="http://infoamazonia.org" target="_blank" rel="external"><img src="img/carto.png"></a></div>
          </div>
        </section>
        <p>InfoAmazonia Colombia es una iniciativa sin fines de lucro que busca mantener los datos acerca de la deforestación en la región Amazónica de Colombia, siempre actualizados y disponibles al público. El proyecto ha sido creado una alianza de <a href="http://infoamazonia.org/" target="_blank" rel="external">InfoAmazonia</a> con el Panel de Científicos del Centro de Estudios de Derecho, <a href="http://www.dejusticia.org/" target="_blank" rel="external">Justicia y Sociedad-Dejusticia-</a>; y el grupo periodístico <a href="http://www.elespectador.com/noticias" target="_blank" rel="external">El Espectador</a>.
        </p>
        <p>A través de la iniciativa Visión Amazonía, Colombia se ha comprometido a reducir la tala de bosques a niveles netos iguales a cero en 2030. Creemos que con este trabajo se contribuye para la transparencia de las políticas públicas enfocadas a este objetivo.</p>
        <p>La plataforma InfoAmazonia Colombia agrega en su mapa información satelital actualizada junto a historias generadas por periodistas. Los datos de la cobertura boscosa del territorio amazónico colombiano resultan de las mediciones hechas por el IDEAM. Las gráficas muestran las tasas de deforestación más recientes de acuerdo con el instituto.</p>
        <section id="data">
          <h2>Datos</h2>
          <div class="data-container">
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Mapas de Bosque/No Bosque", Colombia - IDEAM</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://www.ideam.gov.co/web/ecosistemas/deforestacion-colombia">IDEAM - Colombia</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="http://www.siac.gov.co/Catalogo_mapas.html">Sistema de Información Ambiental de Colombia (SIAC)</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Los mapas resultan del monitoreo anual de los bosques naturales por el Instituto de Hidrologia, Metereologia y Estudos Ambientales (IDEAM), órgano del Ministerio de Ambiente y Desarrollo Sostenible de Colombia. La cobertura boscosa representada son de los años 1990, 2000, 2005, 2010 y 2013. Datos obtenidos del procesamiento digital y análisis de imágenes satelitales de alta resolución - Landsat, DMC y SPOT.  Muestran la cobertura boscosa con 30 metros de resolución generando información a escala 1:100.000.</p>
                <p>Los datos de superficie cubierta consideran bosque natural toda tierra con árboles de densidad mínima del dosel de 30%, altura mínima de 5m y un área mínima de 1,0 ha. Bosques cultivados y vegetación secundaria no se considera bosque.</p>
                <p>En el mapa, los bosques naturales aparecen en verde e las zonas sin bosque en naranja. En marrón oscuro, las zonas sin información - áreas en que no se tiene certeza de la información satelital debido a alta nubosidad. Por defecto, la visualización está animada en secuencia cronológica. En la línea del tiempo, haga clic en cada un de los años para visualizarlos individualmente.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Tasa anual de deforestación", Colombia - IDEAM</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://www.ideam.gov.co/web/sala-de-prensa/noticias/-/asset_publisher/96oXgZAhHrhJ/content/la-cifra-de-deforestacion-en-colombia-2015-reporta-124-035-hectareas-afectada">IDEAM</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="https://docs.google.com/spreadsheets/d/1SJwsxzWkuBa6BwcgOWVDDODMAaeMgbrM1IQUoRB5WG4/edit?usp=sharing">Hoja de cálculo (InfoAmazonia)</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Cifras anuales de deforestación calculadas por el IDEAM (Instituto de Hidrologia, Metereologia y Estudos Ambientales) desde de los datos resultantes del monitoreo de la cobertura boscosa y presentados a la prensa por medio de archivos non abiertos (.pdf, .ppt y otros).</p>
                <p>En el nivel departamental, los datos del IDEAM se refieren a departamentos enteros y no están divididos por regiones - por eso los datos de los departamentos Meta, Vichada y (que tienen límites políticos fuera del Bioma Amazónico) no se refieren solamente a la deforestación amazónica. Las cifras correspondientes al departamento Cauca, que tiene un pequeño porcentaje de su territorio en la región amazónica, no son difundidas por IDEAM como parte de la Amazonía. Nariño tampoco es considerado un departamento amazónico.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Límite Amazonía", Colombia - IDEAM</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://www.ideam.gov.co/">IDEAM</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4>Descarga no disponible
                </div>
              </aside>
              <section class="data-content">
                <p>El límite de la Amazonía colombiana utilizado por el IDEAM (Instituto de Hidrologia, Metereologia y Estudos Ambientales) considera el Bioma Amazónico como la extensión del bosque tropical. </p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Departamentos", Colombia - IDEAM</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://www.ideam.gov.co/">IDEAM</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="http://geoapps.ideam.gov.co:8080/geoserver/indicadores_hidricos/wfs?">IDEAM</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Capa de los indicadores hídricos de Colombia en los servicios geograficos del IDEAM con los límites del nivel departamental.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>MapBox Satellite</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="https://www.mapbox.com/help/define-mapbox-satellite/">MapBox</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4>Descarga no disponible
                </div>
              </aside>
              <section class="data-content">
                <p>Mapa mundial que fusiona imágenessatelitales de alta resolución proveniente de distintas fuentes, como proveedores comerciales (Digital Globe) y datos libres de NASA, USG y otros.</p>
                <p>En el mapa, se destaca la región de Colombia.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>Aguas - OSM</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="https://www.mapbox.com/vector-tiles/mapbox-streets-v7/">OpenStreetMap en MapBox Streets v7</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4>Descarga no disponible
                </div>
              </aside>
              <section class="data-content">
                <p>Los ríos y otros cuerpos de agua mapeados por colaboradores del OpenStreetMap y disponibles en "Mapbox Streets v7". Los datos contienen información sobre cursos de agua, áreas, tipos y nombres de los ríos y reciben actualizaciones regulares.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Carreteras", Amazonía - RAISG</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://raisg.socioambiental.org/">RAISG</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_vias/MapServer">RAISG</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Los caminos de la Amazonía colombiana, incluyendo las carreteras y caminos sin pavimentar.</p>
                <p>Concentradas en la zona con más perdida de bosque, las carreteras son consideradas un vector importante de la ocupación y la degradación de la selva amazónica.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Áreas Naturales Protegidas", Amazonía - RAISG</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://raisg.socioambiental.org/">RAISG</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_anps/MapServer">RAISG</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Áreas naturales protegidas en la Amazonía de Colombia, datos consolidados en el ambito de la Red Amazónica de Información Socioambiental Georreferenciada (RAISG).</p>
                <p>Los límites de cada zona aparecen con el contorno verde e sus nombres etiquetados dentro de los polígonos.</p>
              </section>
            </article>
            <article class="data-item" ng-controller="AboutDataCtrl" ng-class="{active: displayContent}">
              <div class="icon fa fa-database"></div>
              <header class="data-header" ng-click="toggleContent()">
                <div class="expand fa fa-chevron-down" ng-hide="displayContent"></div>
                <div class="expand fa fa-chevron-up" ng-show="displayContent"></div>
                <h3>"Territorios Indígenas", Amazonía - RAISG</h3>
              </header>
              <aside class="data-meta">
                <div class="source">
                  <h4><span class="fa fa-share"></span>Fuente</h4><a href="http://raisg.socioambiental.org/">RAISG</a>
                </div>
                <div class="download">
                  <h4><span class="fa fa-download"></span>Descarga</h4><a href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_tis/MapServer">RAISG</a>
                </div>
              </aside>
              <section class="data-content">
                <p>Territorios indígenas de la Amazonia colombiana destacados en rosa y el nombre de cada territorio marcado dentro de las zonas de ocupación.</p>
                <p>Aumente el nível de zoom en el mapa para ver el nombre de cada carretera sobre su ruta.</p>
              </section>
            </article>
          </div>
        </section>
      </div>
    </section>
    <div ng-controller="MapCtrl">
      <div class="map-container">
        <div id="map" map sql="sql" legend="legend" username="user" query="query" columns="columns" table="dataTable" grid-item="gridItem" geojson="filteredStories | memoize"></div>
      </div>
      <map-timeline items="timeline.items"></map-timeline>
      <section id="sidebar">
        <header>
          <nav id="sidebar-nav"><a ng-class="{active: viewing == 'dashboard'}" ng-click="setView('dashboard')">Gráficos</a><a ng-class="{active: viewing == 'stories'}" ng-click="setView('stories')">Artículos</a></nav>
        </header>
        <div class="sidebar-sections">
          <section class="sidebar-section" id="dashboard" ng-controller="DashboardCtrl" ng-show="viewing == 'dashboard'">
            <div class="dashboard-main" ng-show="showDashboardMain()">
              <p class="main">La plataforma InfoAmazonia Colombia agrega en su mapa información satelital actualizada junto a historias generadas por periodistas. Los datos de la cobertura boscosa del territorio amazónico colombiano resultan de las mediciones hechas por el Instituto de Hidrología, Meteorología y Estudios Ambientales de Colombia-<a href="http://www.ideam.gov.co/" target="_blank" rel="external">IDEAM</a>-.</p>
              <p class="main">Las gráficas muestran las tasas de deforestación más recientes de acuerdo con el instituto. Este proyecto es posible gracias a la colaboración con el Panel de Científicos del Centro de Estudios de Derecho, <a href="http://www.dejusticia.org/" target="_blank" rel="external">Justicia y Sociedad-Dejusticia-</a>, <a href="http://www.elespectador.com/noticias" target="_blank" rel="external">El Espectador</a> e <a href="http://infoamazonia.org" rel="external" target="_blank">InfoAmazonia</a>.
              </p>
              <div class="main-chart" ng-show="dataSheet">
                <nav class="ref-nav sub-nav"><a class="ref" ng-repeat="ref in (dataUniqKeys('reference') | validate:'number')" ng-click="selectMainChartRef(ref); selectColombiaChartRef(ref)" href="javascript:void(0);" ng-class="{active:mainChart.ref == ref}">{{ref}}</a></nav>
                <div class="main-series">
                  <div class="series" ng-repeat="series in mainSeries">
                    <h3>{{series}}</h3>
                    <div ng-show="selectedChart == 'departamento'">
                      <table class="global-data">
                        <tr class="global-data-item" ng-repeat="item in colombiaChartConfig[series].series[0].data">
                          <th>{{item[0]}}</th>
                          <td>{{item[1]}} ha</td>
                        </tr>
                      </table>
                      <h4>Departamentos</h4>
                      <highchart config="mainChartConfig[series]"></highchart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-item" ng-show="gridItem">
              <h2>{{gridItem[dataColumn('reference', 'title').column]}}</h2>
              <div class="series" ng-repeat="series in dataUniqKeys('series')">
                <h3>{{series}}</h3>
                <highchart config="chartConfig"></highchart>
              </div>
            </div>
          </section>
          <section class="sidebar-section" id="stories" ng-show="viewing == 'stories'">
            <p>Artículos de InfoAmazonia sobre Colombia</p>
            <p>
              <input type="text" ng-model="searchStories" placeholder="Buscar dentro de artículos">
            </p>
            <div class="timeline-items">
              <div class="timeline-item clearfix" ng-repeat="(i,story) in filteredStories = (stories | filter:searchStories)" ng-class="{'focused-story': focusedStory == story.properties.id}" story="story" focused-story="focusedStory">
                <article>
                  <div class="post-box">
                    <header class="post-header">
                      <div class="thumbnail" ng-show="story.properties.thumbnail.full" back-img="{{story.properties.thumbnail.full}}"></div>
                      <h2><a ng-href="{{story.properties.url}}" ng-bind-html="story.properties.title | trustHtml"></a></h2>
                    </header>
                  </div>
                  <aside class="post-date">
                    <p class="date" ng-show="isDifferentDate(stories, i-1, story.properties.date)">{{story.properties.date | formatDate:'DD/MM/YYYY'}}</p>
                    <p class="time">{{story.properties.date | formatDate:'hh:mm A'}}</p>
                  </aside>
                </article>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
    <div id="loading" loading-status-message ng-class="{active: loads.length}"></div>
  </body>
  <script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/moment/moment.js"></script>
  <script type="text/javascript" src="lib/chroma-js/chroma.min.js"></script>
  <script type="text/javascript" src="lib/leaflet/dist/leaflet.js"></script>
  <script type="text/javascript" src="lib/Leaflet.utfgrid/dist/leaflet.utfgrid.js"></script>
  <script type="text/javascript" src="lib/leaflet-bouncemarker/bouncemarker.js"></script>
  <script type="text/javascript" src="lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="lib/cartodb.js/cartodb.core.uncompressed.js?v=2"></script>
  <script type="text/javascript" src="lib/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="lib/highcharts-ng/dist/highcharts-ng.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</html>