extends ../layouts/data

block title
  h3 "Mapas de Bosque/No Bosque", Colombia - IDEAM
block content
  p Los mapas resultan del monitoreo anual de los bosques naturales por el Instituto de Hidrologia, Metereologia y Estudos Ambientales (IDEAM), órgano del Ministerio de Ambiente y Desarrollo Sostenible de Colombia. La cobertura boscosa representada son de los años 1990, 2000, 2005, 2010 y 2013. Datos obtenidos del procesamiento digital y análisis de imágenes satelitales de alta resolución - Landsat, DMC y SPOT.  Muestran la cobertura boscosa con 30 metros de resolución generando información a escala 1:100.000.

  p Los datos de superficie cubierta consideran bosque natural toda tierra con árboles de densidad mínima del dosel de 30%, altura mínima de 5m y un área mínima de 1,0 ha. Bosques cultivados y vegetación secundaria no se considera bosque.

  p En el mapa, los bosques naturales aparecen en verde e las zonas sin bosque en naranja. En marrón oscuro, las zonas sin información - áreas en que no se tiene certeza de la información satelital debido a alta nubosidad. Por defecto, la visualización está animada en secuencia cronológica. En la línea del tiempo, haga clic en cada un de los años para visualizarlos individualmente.
block source
  a(href="http://www.ideam.gov.co/web/ecosistemas/deforestacion-colombia") IDEAM - Colombia
block download
  a(href="http://www.siac.gov.co/Catalogo_mapas.html") Sistema de Información Ambiental de Colombia (SIAC)
