extends ../layouts/data

block title
  h3 "Tasa anual de deforestación", Colombia - IDEAM
block content
  p Cifras anuales de deforestación calculadas por el IDEAM (Instituto de Hidrologia, Metereologia y Estudos Ambientales) desde de los datos resultantes del monitoreo de la cobertura boscosa y presentados a la prensa por medio de archivos non abiertos (.pdf, .ppt y otros).

  p En el nivel departamental, los datos del IDEAM se refieren a departamentos enteros y no están divididos por regiones - por eso los datos de los departamentos Meta, Vichada y (que tienen límites políticos fuera del Bioma Amazónico) no se refieren solamente a la deforestación amazónica. Las cifras correspondientes al departamento Cauca, que tiene un pequeño porcentaje de su territorio en la región amazónica, no son difundidas por IDEAM como parte de la Amazonía. Nariño tampoco es considerado un departamento amazónico.
block source
  a(href="http://www.ideam.gov.co/web/sala-de-prensa/noticias/-/asset_publisher/96oXgZAhHrhJ/content/la-cifra-de-deforestacion-en-colombia-2015-reporta-124-035-hectareas-afectada") IDEAM
block download
  a(href="https://docs.google.com/spreadsheets/d/1SJwsxzWkuBa6BwcgOWVDDODMAaeMgbrM1IQUoRB5WG4/edit?usp=sharing") Hoja de cálculo (InfoAmazonia)
