extends ../layouts/data

block title
  h3 "Departamentos", Colombia - IDEAM
block content
  p Capa de los indicadores hídricos de Colombia en los servicios geograficos del IDEAM con los límites del nivel departamental.
block source
  a(href="http://www.ideam.gov.co/") IDEAM
block download
  a(href="http://geoapps.ideam.gov.co:8080/geoserver/indicadores_hidricos/wfs?") IDEAM
