extends ../layouts/data

block title
  h3 "Territorios Indígenas", Amazonía - RAISG
block content
  p Territorios indígenas de la Amazonia colombiana destacados en rosa y el nombre de cada territorio marcado dentro de las zonas de ocupación.
  p Aumente el nível de zoom en el mapa para ver el nombre de cada carretera sobre su ruta.
block source
  a(href="http://raisg.socioambiental.org/") RAISG
block download
  a(href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_tis/MapServer") RAISG
