extends ../layouts/data

block title
  h3 "Límite Amazonía", Colombia - IDEAM
block content
  p El límite de la Amazonía colombiana utilizado por el IDEAM (Instituto de Hidrologia, Metereologia y Estudos Ambientales) considera el Bioma Amazónico como la extensión del bosque tropical. 
block source
  a(href="http://www.ideam.gov.co/") IDEAM
block download
  | Descarga no disponible
