extends ../layouts/data

block title
  h3 "Áreas Naturales Protegidas", Amazonía - RAISG
block content
  p Áreas naturales protegidas en la Amazonía de Colombia, datos consolidados en el ambito de la Red Amazónica de Información Socioambiental Georreferenciada (RAISG).
  p Los límites de cada zona aparecen con el contorno verde e sus nombres etiquetados dentro de los polígonos.
block source
  a(href="http://raisg.socioambiental.org/") RAISG
block download
  a(href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_anps/MapServer") RAISG
