extends ../layouts/data

block title
  h3 "Carreteras", Amazonía - RAISG
block content
  p Los caminos de la Amazonía colombiana, incluyendo las carreteras y caminos sin pavimentar.
  p Concentradas en la zona con más perdida de bosque, las carreteras son consideradas un vector importante de la ocupación y la degradación de la selva amazónica.
block source
  a(href="http://raisg.socioambiental.org/") RAISG
block download
  a(href="https://geo.socioambiental.org/arcgis/rest/services/raisg/raisg_vias/MapServer") RAISG
