extends ../layouts/data

block title
  h3 MapBox Satellite
block content
  p Mapa mundial que fusiona imágenessatelitales de alta resolución proveniente de distintas fuentes, como proveedores comerciales (Digital Globe) y datos libres de NASA, USG y otros.
  p En el mapa, se destaca la región de Colombia.
block source
  a(href="https://www.mapbox.com/help/define-mapbox-satellite/") MapBox
block download
  | Descarga no disponible
