extends ../layouts/data

block title
  h3 "Aguas", Amazonía de Colombia - OSM
block content
  p Los ríos y otros cuerpos de agua de la amazonía de Colombia mapeados por colaboradores del OpenStreetMap. Los datos contienen información sobre cursos de agua, áreas, tipos y nombres de los ríos y son los mas recientes en la plataforma (bajados en noviembre/2016).
block source
  a(href="https://www.openstreetmap.org/") OpenStreetMap
block download
  a(href="https://www.openstreetmap.org/export#map=5/51.522/-7.778") OpenStreetMap
