extends ../layouts/data

block title
  h3 Aguas - OSM
block content
  p Los ríos y otros cuerpos de agua mapeados por colaboradores del OpenStreetMap y disponibles en "Mapbox Streets v7". Los datos contienen información sobre cursos de agua, áreas, tipos y nombres de los ríos y reciben actualizaciones regulares.
block source
  a(href="https://www.mapbox.com/vector-tiles/mapbox-streets-v7/") OpenStreetMap en MapBox Streets v7
block download
  | Descarga no disponible
