section#partners
	h2 Colaboradores
	.partner-list
		.partner
			a(href="http://www.dejusticia.org/" target="_blank" rel="external")
				img(src="img/dejusticia.jpg" alt="Dejusticia")
		.partner
			a(href="http://www.elespectador.com/noticias" target="_blank" rel="external")
				img(src="img/el-espectador.jpg" alt="El Espectador")
		.partner
			a(href="http://www.amazonteam.org" target="_blank" rel="external")
				img(src="img/amazon_conservation_team_.png" alt="Amazon Conservation Team - Colombia")
		.partner
			a(href="http://carto.com" target="_blank" rel="external")
				img(src="img/carto.png")

p InfoAmazonia Colombia es una iniciativa sin fines de lucro que busca mantener los datos acerca de la deforestación en la región Amazónica de Colombia, siempre actualizados y disponibles al público. El proyecto ha sido creado una alianza de
	= ' '
	a(href="http://infoamazonia.org/" target="_blank" rel="external") InfoAmazonia
	= ' '
	| con el Panel de Científicos del Centro de Estudios de
	= ' '
	a(href="http://www.dejusticia.org/" target="_blank" rel="external") Derecho, Justicia y Sociedad-Dejusticia-
	| ; y el grupo periodístico
	= ' '
	a(href="http://www.elespectador.com/noticias" target="_blank" rel="external") El Espectador
	| .

p A través de la iniciativa Visión Amazonía, Colombia se ha comprometido a reducir la tala de bosques a niveles netos iguales a cero en 2030. Creemos que con este trabajo se contribuye para la transparencia de las políticas públicas enfocadas a este objetivo.

p La plataforma InfoAmazonia Colombia agrega en su mapa información satelital actualizada junto a historias generadas por periodistas. Los datos de la cobertura boscosa del territorio amazónico colombiano resultan de las mediciones hechas por el IDEAM. Las gráficas muestran las tasas de deforestación más recientes de acuerdo con el instituto.

h2 Equipo

ul
	li Mapas y Analisis de Datos -
		= ' '
		strong Juliana Mori
	li Desarrollo de la plataforma web -
		= ' '
		strong Miguel Peixe
	li Coordinación del proyecto -
		= ' '
		strong Gustavo F Faleiros
	li Reportaje -
		= ' '
		strong Helena Calle (El Espectador)

h2 Aliados

ul
	li El Espectador -
		= ' '
		strong Pablo Correa
	li De Justicia -
		= ' '
		strong Valentina Rozo


section#data
	h2 Datos
	.data-container
		include data/bnb
		include data/deforest
		include data/limite_amazonia
		include data/satellite
		include data/water
		include data/roads
		include data/protected_areas
		include data/indig_territ
