p InfoAmazonia Colombia es una iniciativa sin fines de lucro que busca mantener los datos acerca de la deforestación en la Amazonía colombiana siempre actualizados y disponibles al público. El proyecto ha sido creado una alianza de InfoAmazonia con la organización colombiana De Justicia y el grupo periodistico El Espectador.

p A través de la iniciativa Visión Amazonía, Colombia se ha comprometido a reducir la tala de bosques a niveles iguales a cero neta en 2030. Creemos que con este trabajo se contribuye para la transparencia de las políticas públicas voltadas a este objectivo

p La plataforma InfoAmazonia Colombia agrega en su mapa información satelital actualizada junto a histórias generadas por periodistas. Los datos de la cobertura boscosa del territorio amazónico colombiano resultan de las mediciones hechas por el IDEAM. Las gráficas muestran las tasas de deforestación más recientes de acuerdo con el instituto.

h2 Datos

h3 "Mapas de Bosque/No Bosque", Colombia - IDEAM
