@green: #73a229;

/*
* Typography
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'OpenSansCondensedBold';
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a
h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited {
	color: #404040;
}
h1 {
	font-size: 22px;
	margin: 0 0 10px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	margin: 5px 0 10px;
}
h3 {
	font-size: 24px;
	line-height: 28px;
	margin: 0 0 10px;
}
h4 {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 8px;
}
input {
	padding: 5px;
}
strong {
	font-weight: bold;
}

html,
body {
	font: normal 12px/20px 'OpenSansRegular','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;
	color: #404040;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #f6f6f6;
}
