@import "functions";
@import "infoamazonia";

.highcharts-background {
	fill: transparent;
}

#masthead {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 2rem 0;
	z-index: 4;
	h1 {
		color: #fff;
		font-size: 2.5em;
		text-transform: uppercase;
		img {
			margin-left: 1rem;
		}
		a {
			color: inherit;
		}
	}
}

#apphead {
	padding: 25rem 0 0rem;
	background: #000 url(../img/deforest.jpg) center;
	background-size: cover;
	color: #fff;
	position: relative;
	border-bottom: 20px solid #111;
	> * {
		position: relative;
		z-index: 1;
	}
	h1 {
		margin: 0 0 -1.5rem;
		padding: 0;
		font-size: 8em;
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		letter-spacing: -.5rem;
		color: rgba(255,255,255,0.9);
		text-shadow: 0 0 2rem rgba(0,0,0,.8);
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 50%;
		left: 0;
		right: 0;
		.gradient(rgba(0,0,0,0.7), transparent, rgba(0,0,0,0.7));
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		bottom: 0;
		left: 0;
		right: 0;
		.gradient(transparent, rgba(0,0,0,0.9), transparent);
	}
}

#dashboard {
	background: #222;
	color: #f0f0f0;
	padding: 2rem;
	.container {
		width: 100%;
		max-width: none;
	}
	iframe {
		width: 100%;
		height: 600px;
	}
}

.timeline-items {
	position: relative;
	padding: 60px 0;
	&:before {
		content: '';
		position: absolute;
		width: 4px;
		margin-left: -2px;
		top: 0;
		bottom: 0;
		left: 50%;
		background: #e6e6e6;
	}
	.timeline-item {
		position: relative;
		margin-top: -60px;
		&:first-child {
			margin-top: 0;
		}
		&:nth-child(odd) {
			.post-box {
				float: left;
			}
			&:before {
				left: 40%;
				right: 50%;
			}
		}
		&:nth-child(even) {
			.post-box {
				float: right;
			}
			&:before {
				left: 50%;
				right: 40%;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: auto;
			height: 2px;
			background: #e6e6e6;
			top: 65px;
			visibility: visible;
		}
		.post-box {
			background: #fff;
			width: 40%;
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
			img {
				width: 100%;
				height: auto;
			}
			h2 {
				padding: 20px 20px 0;
				margin: 0;
			}
			p.meta {
				padding: 10px 20px 0;
				margin: 0;
			}
			.post-content {
				padding: 20px;
				p {
					margin: 0;
				}
			}
			.post-actions {
				display: table;
				width: 100%;
				a {
					width: 1%;
					display: table-cell;
					padding: 10px 0;
				}
			}
		}
		.post-date {
			position: absolute;
			left: 50%;
			top: 40px;
			width: 100px;
			margin-left: -50px;
			text-align: center;
			p.date {
				display: block;
				background: @green;
				color: #fff;
				line-height: 50px;
				font-size: 16px;
				font-family: 'OpenSansCondensedBold';
				margin: 0 0 15px;
			}
			p.time {
				color: #666;
				width: 70%;
				margin: 5px auto;
				padding: 10px 0;
				background: #f6f6f6;
				border: 1px solid #e6e6e6;
			}
		}
	}
}
