extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block content
	.map-container
		#map(map sql="sql" username="user" query="query" columns="columns" table="dataTable")
	#dashboard
		highchart#chart1(config="chartConfig")
