extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block nav-content
	include views/includes/about

block content
	div(ng-controller="MapCtrl")
		.map-container
			#map(map sql="sql" legend="legend" username="user" query="query" columns="columns" table="dataTable" grid-item="gridItem" geojson="filteredStories | memoize")
		map-timeline(items="timeline.items")
		section#sidebar
			header
				nav#sidebar-nav
					a(ng-class="{active: viewing == 'dashboard'}" ng-click="setView('dashboard')") Gráficos
					a(ng-class="{active: viewing == 'stories'}" ng-click="setView('stories')") Artículos
			.sidebar-sections
				section#dashboard.sidebar-section(ng-controller="DashboardCtrl" ng-show="viewing == 'dashboard'")
					.dashboard-main(ng-show="showDashboardMain()")
						p.main La plataforma InfoAmazonia Colombia agrega en su mapa información satelital actualizada junto a histórias generadas por periodistas. Los datos de la cobertura boscosa del territorio amazónico colombiano resultan de las mediciones hechas por el IDEAM. Las gráficas muestran las tasas de deforestación más recientes de acuerdo con el instituto.
						.main-chart(ng-show="dataSheet")
							nav.ref-nav.sub-nav
								a.ref(ng-repeat="ref in (dataUniqKeys('reference') | validate:'number')" ng-click="selectMainChartRef(ref)" href="javascript:void(0);" ng-class="{active:mainChart.ref == ref}") {{ref}}
							.main-series
								.series(ng-repeat="series in mainSeries")
									h3 {{series}}
									highchart(config="mainChartConfig[series]")

					.grid-item(ng-show="gridItem")
						h2 {{gridItem[dataColumn('reference', 'title').column]}}
						.series(ng-repeat="series in dataUniqKeys('series')")
							h3 {{series}}
							highchart(config="chartConfig")
				section#stories.sidebar-section(ng-show="viewing == 'stories'")
					p Artículos de InfoAmazonia sobre Colombia
					p
						input(type="text" ng-model="searchStories" placeholder="Buscar dentro de artículos")
					.timeline-items
						.timeline-item.clearfix(ng-repeat="(i,story) in filteredStories = (stories | filter:searchStories)" ng-class="{'focused-story': focusedStory == story.properties.id}" story="story" focused-story="focusedStory")
							article
								.post-box
									header.post-header
										.thumbnail(ng-show="story.properties.thumbnail.full" back-img="{{story.properties.thumbnail.full}}")
										h2
											a(ng-href="{{story.properties.url}}" ng-bind-html="story.properties.title | trustHtml")
										//- p.meta.clearfix
										//- 	span.publisher
										//- 		span.lsf clip
										//- 		span.publisher-content
									section.post-content
										p {{story.properties.excerpt}}
								aside.post-date
									p.date(ng-show="isDifferentDate(stories, i-1, story.properties.date)") {{story.properties.date | formatDate:'DD/MM/YYYY'}}
									p.time {{story.properties.date | formatDate:'hh:mm A'}}
