extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block nav-content
	a(href="http://infoamazonia.org/datasets" rel="external" target="_blank") Dados

block content
	div(ng-controller="MapCtrl")
		.map-container
			#map(map sql="sql" username="user" query="query" columns="columns" table="dataTable" grid-item="gridItem" geojson="filteredStories | memoize")
		map-timeline(items="timeline.items")
		section#sidebar
			header
				nav#sidebar-nav
					a(ng-class="{active: viewing == 'dashboard'}" ng-click="setView('dashboard')") Dashboard
					a(ng-class="{active: viewing == 'stories'}" ng-click="setView('stories')") Stories
			.sidebar-sections
				section#dashboard.sidebar-section(ng-controller="DashboardCtrl" ng-show="viewing == 'dashboard'")
					p.main(ng-hide="gridItem") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elementum hendrerit elit, quis sagittis mi laoreet nec. Aenean malesuada pellentesque luctus. Nunc dignissim, eros quis pellentesque sagittis, arcu magna scelerisque justo, sed interdum ligula mi sit amet enim.
					.grid-item(ng-show="gridItem")
						h2 {{gridItem[dataColumn('reference', 'title').column]}}
						.series(ng-repeat="series in dataUniqKeys('series')")
							h3 {{series}}
							p(ng-repeat="item in matchColumns('series', series)")
								strong {{item.reference}}
								br
								| {{gridItem[item.column]}} ha
							highchart#chart1(config="chartConfig")
				section#stories.sidebar-section(ng-show="viewing == 'stories'")
					p InfoAmazonia stories on Colombia
					p
						input(type="text" ng-model="searchStories" placeholder="Search inside stories...")
					.timeline-items
						.timeline-item.clearfix(ng-repeat="(i,story) in filteredStories = (stories | filter:searchStories)" ng-class="{'focused-story': focusedStory == story.properties.id}" story="story" focused-story="focusedStory")
							article
								.post-box
									header.post-header
										.thumbnail(ng-show="story.properties.thumbnail.full" back-img="{{story.properties.thumbnail.full}}")
										h2
											a(ng-href="{{story.properties.url}}") {{story.properties.title}}
										//- p.meta.clearfix
										//- 	span.publisher
										//- 		span.lsf clip
										//- 		span.publisher-content
									section.post-content
										p {{story.properties.excerpt}}
								aside.post-date
									p.date(ng-show="isDifferentDate(stories, i-1, story.properties.date)") {{story.properties.date | formatDate:'DD/MM/YYYY'}}
									p.time {{story.properties.date | formatDate:'hh:mm A'}}
