extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block content
	#dashboard
		.container
			.six.columns
				.map-container
					#map(map sql="sql" username="user" query="query" columns="columns" data-table="dataTable")
			.six.columns
				highchart#chart1(config="chartConfig")
