extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block content
	div(ng-controller="MapCtrl")
		.map-container
			#map(map sql="sql" username="user" query="query" columns="columns" table="dataTable" grid-item="gridItem" geojson="stories")
		section#sidebar
			header
				nav#sidebar-nav
					a(ng-class="{active: viewing == 'dashboard'}" ng-click="setView('dashboard')") Dashboard
					a(ng-class="{active: viewing == 'stories'}" ng-click="setView('stories')") Stories
			.sidebar-sections
				section#dashboard.sidebar-section(ng-show="viewing == 'dashboard'")
					.grid-item(ng-show="gridItem")
						h2 {{gridItem.departamento}}
						p
							strong 2014
							br
							| {{gridItem.deforestacion_2014}} ha
						p
							strong 2015
							br
							| {{gridItem.deforestacion_2015}} ha
					highchart#chart1(config="chartConfig")
				section#stories.sidebar-section(ng-show="viewing == 'stories'")
					p InfoAmazonia stories on Colombia
					.timeline-items
						.timeline-item.clearfix(ng-repeat="(i,story) in stories")
							article
								.post-box
									header.post-header
										.thumbnail(ng-show="story.properties.thumbnail.full" back-img="{{story.properties.thumbnail.full}}")
										h2
											a(ng-href="{{story.properties.url}}") {{story.properties.title}}
										//- p.meta.clearfix
										//- 	span.publisher
										//- 		span.lsf clip
										//- 		span.publisher-content
									section.post-content
										p {{story.properties.excerpt}}
								aside.post-date
									p.date(ng-show="isDifferentDate(stories, i-1, story.properties.date)") {{story.properties.date | formatDate:'DD/MM/YYYY'}}
									p.time {{story.properties.date | formatDate:'hh:mm A'}}
