extends views/includes/layouts/site

block title
	title InfoAmazonia Colombia

block head

block content
	div(ng-controller="MapCtrl")
		.map-container
			#map(map sql="sql" username="user" query="query" columns="columns" table="dataTable" grid-item="gridItem")
		#dashboard
			.grid-item(ng-show="gridItem")
				h2 {{gridItem.departamento}}
				p
					strong 2014
					br
					| {{gridItem.deforestacion_2014}} ha
				p
					strong 2015
					br
					| {{gridItem.deforestacion_2015}} ha
			highchart#chart1(config="chartConfig")
